<main><div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-dark" style="
    background-image: url('../../assets/img/BAbleu.jpg');
    ">
  
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Valoriser votre AuPotentiel</h1>
        <p class="lead fw-normal">soyez embauchés par des employeurs inclusifs</p>
        <a class="btn btn-outline-primary" href="#">Bienvenue</a>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
   
  </main>